body{
	background-image: "Background.jpg";
}

.text{
	position:absolute;
	left:500px;
	top:550px;
	font-family:'Playfair Display', serif;
}

.text2{
	position:absolute;
	left:580px;
	top:550px;
	width:320px;
	font-family:'Playfair Display', serif;
}

.text3{
	position:absolute;
	left:580px;
	top:550px;
	width:350px;
	font-family:'Playfair Display', serif;
}

.text4{
	position:absolute;
	left:580px;
	top:550px;
	font-family:'Playfair Display', serif;
}

.text5{
	position:absolute;
	left:480px;
	top:550px;
	width:600px;
	font-family:'Playfair Display', serif;
}

.text6{
	position:absolute;
	left:530px;
	top:550px;
	width:390px;
	font-family:'Playfair Display', serif;
}

.text7{
	position:absolute;
	left:530px;
	top:550px;
	width:390px;
	font-family:'Playfair Display', serif;
}


.logo{
	position:absolute;
	left:50px;
}

.start{
	position:absolute;
	top:590px;
	left:635px;
}

.Story{
	position:absolute;
	font-size: 80px;
	top:290px;
	left:500px;
}

.bird{
	top:300px;
	left:640px;
	position:absolute;
}