body{
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
	color: white;
}

a:hover{
	color: black;
	text-decoration: underline;
}

.text{
	position:absolute;
	left:500px;
	top:250px;
	font-family:'Playfair Display', serif;
	background-color: blue;
	opacity: 75%;
	color:white;
	width:550px;
	text-align:center;
	padding:25px;
	border-radius:10px;
	line-height: 1.6;
}

.logo{
	position:absolute;
	left:50px;
}

.start{
	position:absolute;
	top:580px;
	left:640px;
	font-family:'Playfair Display', serif;
}

.Story{
	position:absolute;
	font-size: 80px;
	top:290px;
	left:500px;
	font-family:'Playfair Display', serif;
}

.bird{
	top:300px;
	left:640px;
	position:absolute;
}