
div:hover{
		opacity:.7;
		border-radius:50px;


}

div:hover audio{
	
}


#square1{
	height:200px;
	width:200px;
	position: absolute;
	background-color:red;
	top:55px;
	left:0;
}

.square2{
	height:200px;
	width:200px;
	position: absolute;
	background-color:orange;
	top:55px;
	left:400px;
}

.square3{
	height:200px;
	width:200px;
	position: absolute;
	background-color:yellow;
	top:55px;
	left:800px;
}

.square4{
	height:200px;
	width:200px;
	position: absolute;
	background-color:green;
	top:55px;
	left:1200px;
}

.square5{
	height:200px;
	width:200px;
	position: absolute;
	background-color:cyan;
	top:255px;
	left:200px;
}

.square6{
	height:200px;
	width:200px;
	position: absolute;
	background-color:blue;
	top:255px;
	left:600px;
}

.square7{
	height:200px;
	width:200px;
	position: absolute;
	background-color:indigo;
	top:255px;
	left:1000px;
}

.square8{
	height:200px;
	width:200px;
	position: absolute;
	background-color:purple;
	top:255px;
	left:1400px;
}

.square9{
	height:200px;
	width:200px;
	position: absolute;
	background-color:pink;
	top:455px;
	left:0px;
}

.square10{
	height:200px;
	width:200px;
	position: absolute;
	background-color:rgb(92,26,7);
	top:455px;
	left:400px;
}

.square11{
	height:200px;
	width:200px;
	position: absolute;
	background-color:gray;
	top:455px;
	left:800px;
}

.square12{
	height:200px;
	width:200px;
	position: absolute;
	background-color:black;
	top:455px;
	left:1200px;
}

body{
	background-color:beige;
}

