#container{

}

.box{
	width:100vw;
	height:100vh;
}

.blueBG{
	background-color:blue;
}

.purpleBG{
	background-color:purple;
}

.greenBG{
	background-color:green;
}

.yellowBG{
	background-color:yellow;
}

.orangeBG{
	background-color:orange;
}

.redBG{
	background-color:red;
}

h1{
	font-size:60px;
	text-align:center;
	color:white;
	padding:45vh;
	transition: all 1s ease;
}

.bigger{
	font-size:100px;
	padding:30vh;
	font-family: 'Spicy Rice';
	text-align:center;
}

.jqClick{
	border-bottom:10px solid white;
	cursor:pointer;
}

h2{
	font-size:100px;
	text-align:center;
}

.boing{
	width:500px;
	height:500px;
	background-color:yellow;
	margin-left:550px;
}

.boinged{
	width:500px;
	height:500px;
	background-color:orange;
	border-radius:20px;
	margin-left:550px;
}

.jqDClick{
	border-bottom:10px solid black;
	cursor:pointer;
}


.jumpscare{
	height:500px;
	width:500px;
	background-color:yellow;
	margin-left:550px;
}

.jumpscared{
	background-image: url("Spooky.png");
	margin-left:550px;
}

.Screamer{
	width:800px;
	height:608px;
	cursor:pointer;
	margin-left:400px;
	margin-top:-80px;
}

.Stupid{
	height:80%;
	width:80%;
	cursor:pointer;
	margin-left:150px;
	margin-top:-80px;
}

.Nelly{
	background-color: blue;
	width:640px;
	height:360px;
	margin-left:450px;
	cursor:pointer;
}

.Nellied{
	background-image: url("nelly.png");
	width:640px;
	height:360px;
	margin-left:450px;
	cursor:pointer;
}