



.logo{
	max-width: calc((60%) - 25px);
	margin-left:325px;
}


body{
	background-color:purple;
}

p{
	width:600px;
	font-size:18px;
	font-family: 'Rubik';
}

.describe{
	margin-left:75px;
	margin-top:-125px;
	width:600px;
	padding:7px;
	border-radius:7px;
	color:white;
}

.image{
	max-width: calc((45%) - 25px);
	margin-left:780px;
	margin-top:-440px;
}

h1{
	font-size:40px;
}

.buttons{
	height:300px;
}

.home{
	width:150px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:400px;
	margin-top:-226px;
	color:green;
	font-family: 'Anton';
	text-decoration: none;
}

.home:hover{
	color:red;
}

.list{
	width:150px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:880px;
	margin-top:20px;
	color:green;
	font-family: 'Anton';
	text-decoration: none;
}

.list:hover{
	color:red;
}

@media only screen and (max-width: 1024px){

	.logo{
	max-width: calc(100%);
	margin-left:0px;
	}

	.home{
	width:150px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:100px;
	margin-top:-226px;
	color:green;
	
	text-decoration: none;
}

.list{
	width:150px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:540px;
	margin-top:0px;
	color:green;
	
	text-decoration: none;
}

p{
	width:350px;
	font-size:18px;
}

.image{
	max-width: calc((50%) - 25px);
	margin-left:470px;
	margin-bottom: 100px;
	}


}

@media only screen and (max-width: 768px){

	p{
	width:100%;
	font-size:18px;
	}

	.image{
	max-width: calc((100%) - 25px);
	margin-left:10px;
	margin-top: 5px;
	}

	.home{
	width:0px;
	text-align: center;
	font-size: 110px;
	padding:40px;
	border-radius:20px;
	margin-left:50px;
	margin-top:-244px;
	color:green;
	text-decoration: none;
	}

	.list{
	width:150px;
	text-align: center;
	font-size: 110px;
	padding:40px;
	border-radius:20px;
	margin-left:340px;
	margin-top:0px;
	color:green;

	text-decoration: none;
	}

}

@media only screen and (max-width: 375px){

	.image{
	max-width: calc((100%) - 25px);
	margin-left:10px;
	margin-top: 5px;
	}

	p{
	width:100%;
	font-size:18px;
	text-align: center;
	}

	.describe{
	margin-left:10px;
	margin-top:-205px;
	width:240px;
	padding:7px;
	border-radius:7px;
	color:white;
	}

	h1{
		font-size: 80px;
		margin-left:10px;
	}

	.home{
	width:0px;
	text-align: center;
	font-size: 80px;
	padding:40px;
	border-radius:20px;
	margin-left:0px;
	margin-top:-280px;
	color:green;

	text-decoration: none;
	}

	.list{
	width:150px;
	text-align: center;
	font-size: 80px;
	padding:40px;
	border-radius:20px;
	margin-left:-30px;
	margin-top:40px;
	color:green;
	
	text-decoration: none;
	}

}