.logo{
	max-width: calc((60%) - 25px);
	margin-left:325px;
}


body{
	background-color:purple;
}

p{
	width:600px;
	font-size:18px;
}

.describe{
	margin-left:75px;
	margin-top:-125px;
	width:600px;
	padding:7px;
	border-radius:7px;
	color:white;
}

.image{
	max-width: calc((45%) - 25px);
	margin-left:780px;
	margin-top:-440px;
}

h1{
	font-size:40px;
}

.buttons{
	height:300px;
}

.home{
	width:150px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:400px;
	margin-top:-200px;
	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

.home:hover{
	color:red;
}

.list{
	width:150px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:880px;
	margin-top:0px;
	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

.list:hover{
	color:red;
}

@media only screen and (max-width: 1024px){

	.logo{
	max-width: calc(100%);
	margin-left:0px;
	}

	.home{
	width:150px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:400px;
	margin-top:-200px;
	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 375px){

}