.logo{
	max-width: calc((35%) - 25px);
	margin-left:225px;
}

.bullets{
	font-size:18px;
	width:600px;
}

p{
	width:640px;
	font-size:17px;
}

.paragraph{
	margin-left:25px;
	background-color: green;
	width:650px;
	padding:7px;
	border-radius: 10px;
}

.Show{
	float:right;
}

.mySlides {
	display:none;
}

body{
	background-color:purple;
}

.list{
	background-color: green;
	width:180px;
	text-align: center;
	font-size: 40px;
	padding:40px;
	border-radius:20px;
	float:right;
}

.about{
	background-color: green;
	width:150px;
	text-align: center;
	font-size: 40px;
	padding:40px;
	border-radius:20px;
	float:right;
}

.home{
	background-color: green;
	width:180px;
	text-align: center;
	font-size: 40px;
	padding:40px;
	border-radius:20px;
	float:right;
}