.logo{
	max-width: calc((60%) - 25px);
	margin-left:325px;
}

.bullets{
	font-size:18px;
	width:600px;
}

p{
	width:640px;
	font-size:17px;
}

.paragraph{
	margin-left:25px;
	color: white;
	width:650px;
	padding:7px;
	border-radius: 10px;
}

.Show{
	margin-left:970px;
	margin-top:-530px;
}

.Show1{
	margin-left:970px;
	margin-top:-550px;
}

.Show2{
	margin-left:970px;
	margin-top:-550px;
}

.Show3{
	margin-left:970px;
	margin-top:-510px;
}

.Show4{
	margin-left:970px;
	margin-top:-450px;
}

.Show5{
	margin-left:970px;
	margin-top:-550px;
}

.Show6{
	margin-left:970px;
	margin-top:-550px;
}

.Show7{
	margin-left:970px;
	margin-top:-490px;
}

.Show8{
	margin-left:970px;
	margin-top:-470px;
}

.mySlides {
	display:none;
}

body{
	background-color:purple;
}

.list{
	
	width:180px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:940px;
	margin-top:-197px;
	
	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

.home:hover{
	color:red;
}
.list:hover{
	color:red;
}
.about:hover{
	color:red;
}

.about{
	
	width:150px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:600px;
	margin-top:-197px;
	

	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

.home{
	
	width:180px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:280px;


	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}



.right{
	margin-left:384px;
}

.filler{
	width:300px;
}

@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 375px){

	.logo{
	max-width: calc(100%);
	margin-left:0px;
}

.home{
	
	width:0px;
	text-align: center;
	font-size: 80px;
	padding:0px;
	border-radius:20px;
	margin-left:64px;


	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

.about{
	
	width:0px;
	text-align: center;
	font-size: 80px;
	padding:0px;
	border-radius:20px;
	margin-left:50px;
	margin-top:10px;
	

	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

.list{
	
	width:0px;
	text-align: center;
	font-size: 80px;
	padding:0px;
	border-radius:20px;
	margin-left:30px;
	margin-top:25px;
	
	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

.Show{
	margin-left:20px;
	margin-top:0px;
}

.right{
	margin-left:145px;
}

.paragraph{
	margin-left:5px;
	color: white;
	width:375px;
	padding:7px;
	border-radius: 10px;
}

.bullets{
	font-size:18px;
	width:200px;
}

p{
	width:250px;
	font-size:17px;
}

}