.logo{
	max-width: calc((60%) - 25px);
	margin-left:325px;
}

.bullets{
	font-size:18px;
	width:600px;
}

p{
	width:640px;
	font-size:17px;
}

.paragraph{
	margin-left:25px;
	background-color: green;
	width:650px;
	padding:7px;
	border-radius: 10px;
}

.Show{
	float:left;
}

.mySlides {
	display:none;
}

body{
	background-color:purple;
}

.list{
	
	width:180px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:940px;
	margin-top:-197px;
	
	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

.home:hover{
	color:red;
}
.list:hover{
	color:red;
}
.about:hover{
	color:red;
}

.about{
	
	width:150px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:600px;
	margin-top:-197px;
	

	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}

.home{
	
	width:180px;
	text-align: center;
	font-size: 100px;
	padding:40px;
	border-radius:20px;
	margin-left:280px;


	color:green;
	font-family: 'Bayformance';
	text-decoration: none;
}