h1{
	position:absolute;
	left:600px;
	font-family:'Arvo';
	color:red;
	padding:10px;
	font-size:45px;
}

h3{
	position:absolute;
	top:270px;
	left:670px;
	font-family:'Arvo';
	color:red;
	font-size:30px;
}

h2{
	position:absolute;
	top:550px;
	font-family:'Arvo';
	left:490px;
	color:red;
	padding:10px;
	font-size:35px;
}

div{
	position:absolute;
	padding:10px;
	text-align: center;
	font-family:'Arvo';
	font-size:18px;
}

.d1{
	top:125px;
	left:475px;
}

.d2{
	top:225px;
	left:525px;
}

.d3{
	top:370px;
	left:325px;
}

.d4{
	top:490px;
	left:475px;
}