h1{
	position:absolute;
	font-size:120px;
	height:300px;
	width:300px;
	top:-100px;

}

h3{
	position:absolute;
	font-size:100px;
	left:340px;
	top:260px;
	height:300px;
	width:300px;

}

h2{
	position:absolute;
	font-size:70px;
	top:270px;
	left:750px;
	height:300px;
	width:300px;
	text-align: center;
}

div{
	height:300px;
	width:300px;
	left:1200px;
	top:50px;
	position:absolute;
	font-size:18px;
}